/*
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
*/

* {
  text-align: center;
  
  background-color: #efefef;
  color: #0f0f0f;
  font-family: 'Open Sans', sans-serif;
  font-size: 23px;
}

h1 {font-size: 53px;}
h2 {font-size: 48px;}
h3 {font-size: 43px;}
h4 {font-size: 38px;}
h5 {font-size: 33px;}
h6 {font-size: 28px;}
